

.content {
  min-height: 100%;
}

.footer {
  /* height: 50px; */
  /* margin-top: -160px; */
  height: 142px;
  margin-top: 350px;
}

 .content-inside {
  padding: 20px;
  padding-bottom: 50px;
  height: 142px;
}

main{
  min-height: 45vh;


}
