.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;

}

.close-icon{
  cursor: pointer;
}

.sureDialog{
  border-radius: .25em .25em .4em .4em;
  padding: 0px;
   margin-left: auto;
    order: 2;
    font-weight: bolder;
}
